includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/
        - routes/

    # Level 10 is the highest level
    level: 5

    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Access to an undefined property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9_]+#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::([a-zA-Z0-9_]+)\(\)#'
        - '#Trait App\\\\Http\\\\Controllers\\\\Backend\\\\Traits\\\\HandlesImageProcessing is used zero times#'
        - '#Trait App\\\\Http\\\\Controllers\\\\Backend\\\\Traits\\\\HandlesMetadata is used zero times#'
        - '#Trait App\\\\Http\\\\Controllers\\\\Backend\\\\Traits\\\\HandlesSlugGeneration is used zero times#'

    excludePaths:
        analyseAndScan:
            - app/Console/Kernel.php (?)
            - app/Exceptions/Handler.php (?)
            - app/Http/Middleware/Authenticate.php (?)
            - app/Providers/BroadcastServiceProvider.php (?)
            - database/factories/
            - database/seeders/

    tmpDir: storage/framework/cache/phpstan

    editorUrl: 'vscode://file/%%file%%:%%line%%'
