@import "reset";
@import "fonts";
@import "_pagination";

h1, h2, h3, h4 {
    font-weight: 700;
    color: var(--headings);
    line-height: 1.25;;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

small {
    font-size: 0.85rem;
}

ul {
    margin-bottom: 1rem;
    list-style: disc;
    padding-left: 2rem;
}

body {
    background: var(--body);
    color: var(--text);
    font-family: "Geist", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-muted);
    transition: 0.3s all ease;

    &:hover {
        color: var(--text);
        transition: 0.3s all ease;
    }
}

hr {
    margin: 1rem 0;
    color: var(--text-muted);
    opacity: 0.25;
    clear: both;
}

input[type="text"], [type="email"], [type="password"], [type="submit"], textarea, select {
    display: block;
    margin: 0.5rem 0;
    line-height: 1.75;
    padding: 0.5rem;
    border: 2px solid var(--text-muted);
    border-radius: 0.25rem;
    width: 96%;
}

input[type="checkbox"] {
    margin: 0.5rem 0;
}

#navbar {
    background: var(--navbar);
    color: var(--text);
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;

    & .logo {
        font-family: "Geist", sans-serif;
        font-weight: 800;
        font-size: 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--logo);
        margin: 0;
    }

    & .tube {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    input.inline-toggle {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;

        & a {
            margin: 0 0.5rem;
            color: var(--text);
            text-decoration: none;
            transition: 0.3s all ease;

            &:hover {
                color: var(--text-muted);
                transition: 0.3s all ease;
            }
        }
    }

    .inline-toggle {
        display: none;
    }
}

@media (max-width: 992px) {
    #navbar {

        .inline-toggle, .logo {
            display: block;
        }

        .inline-toggle:checked + nav {
            display: block;
        }

        nav {
            display: none;
            flex-direction: column;
            position: absolute;
            top: calc(100%);
            left: 0;
            right: 0;
            background: var(--navbar);
            padding: 1rem;
            font-size: 1.5rem;
            height: 100vh;
            z-index: 1000;
            text-align: center;

            & a {
                display: block;
                margin: 0.5rem 0;
                line-height: 3;
            }
        }
    }
}

.tube {
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 992px) {
    .tube {
        width: 70vw;

        &-content {
            width: 50vw;
        }
    }
}

.site-main {
    min-height: calc(90vh - 60px);
}

.half-split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: space-between;
    margin: 2rem auto;
}

.third-split {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    margin: 2rem auto;
    align-items: center;
}

@media (max-width: 991px) {
    .half-split,
    .third-split,
    #feed {

        grid-template-columns: 1fr;
        max-width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
}

.split {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

@media (max-width: 991px) {
    .split {
        flex-direction: column;
    }
}

.tile-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    padding: 0;

    &-sm {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    }

    &-lg {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
}

@media (min-width: 1960px) {
    .tile-grid-sm {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

.tile {
    background: white;
    color: black;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin: 0.5rem;
    display: grid;
    max-width: 90vw;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

    a:hover {
        color: var(--primary);
    }

    &-alt {
        background: var(--dark);
        color: var(--text);
        margin-top: 1rem;
        margin-bottom: 2rem;
        box-shadow: none;
    }

    &-inverse {
        background: unset;
        color: inherit;
        box-shadow: none;
    }

    &-media {
        display: flex;

        & img {
            border-radius: 0.25rem;
            margin-right: 0.5rem;
            max-width: 7.5rem;
            height: auto;
        }

        & h2 {
            font-size: 1.25rem;
        }

        & .details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

    }

    &-sm {
        padding: 0.25rem;
    }

    & img, {
        background: var(--primary);
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        border-radius: 0.25rem;
    }

    & time {
        font-size: 0.75rem;
        text-align: right;
    }

    &-title {
        font-size: 1.5rem;
        font-weight: 700;
        align-self: start;
    }

    nav {
        align-self: end;
    }
}

.btn {
    background: var(--dark);
    color: #fff;
    transition: 0.3s all ease;
    display: inline-block;

    &:hover {
        filter: drop-shadow(0 0 0.2rem var(--text));
        transition: 0.3s all ease;
    }

    &-menu {
        border: 2px solid var(--text);
        text-align: center;
        width: 2rem;
        line-height: 2rem;
        border-radius: 0.25rem;
        margin: 0;

        &:hover {
            background: var(--text);
            color: var(--dark);
            transition: 0.3s all ease;
            filter: none;

        }
    }

    padding: 0.75rem 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
}

@media (min-width: 992px) {
    .btn-menu {
        visibility: hidden;
    }
}

.site-footer {
    padding: 1.5rem 0;
    color: var(--text);
    text-align: center;
}

.footer-nav {
    display: flex;
    justify-content: center;

    & > a {
        color: var(--text-muted);
        text-decoration: none;
        font-size: 0.9rem;
        margin: 0.5rem;
    }
}

#search-box {
    display: flex;
    justify-content: end;

    .btn {
        max-width: max-content;
        height: 2.25rem;
        padding: 0.25rem;
        margin-left: -0.25rem;
        border-left: none;
        border-radius: 0 0.25rem 0.25rem 0;

        .fa-solid {
            margin: 0.25rem;
        }
    }

    input[type="search"] {
        width: 15rem;
        height: 2.25rem;
        margin: 0;
        border: var(--text-muted) 2px solid;
        background: var(--body);
        color: var(--text);
        border-radius: 0.5rem 0 0 0.5rem;
        padding: 0.25rem;
    }
}
