@use "reset";
@use "fonts";
@use "_pagination";

h1, h2, h3, h4 {
    font-family: var(--title-font), serif;
    color: #590d0d;
    text-wrap: balance;
    font-weight: 400;
    line-height: 1.25;
    color: rgba(0, 0, 0, 0);
    background: var(--xmas-gradient);
    background-clip: text;
    //text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.25);
    //filter: saturate(200%);
}

h1 {
    font-size: 3rem;
    letter-spacing: -2px ;


}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

small {
    font-size: 0.85rem;
}

ul {
    margin-bottom: 1rem;
    list-style: disc;
    padding-left: 2rem;
}

body {
    background-color: #590D0D;
    background-image: url("@/images/jumper.gif");
    color: var(--text);
    font-family: var(--body-font), sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-muted);
    transition: 0.3s all ease;

    &:hover {
        color: var(--text);
        transition: 0.3s all ease;
    }
}

p {
    text-wrap: pretty;
}

hr {
    margin: 1rem 0;
    color: var(--text-muted);
    opacity: 0.25;
    clear: both;
}

input[type="text"], [type="email"], [type="password"], [type="submit"], textarea, select {
    display: block;
    margin: 0.5rem 0;
    line-height: 1.75;
    padding: 0.5rem;
    border: 2px solid var(--text-muted);
    border-radius: 0.25rem;
    width: 96%;
}

input[type="checkbox"] {
    margin: 0.5rem 0;
}

#navbar {
    background: #fff;
    color: var(--text);
    padding: 0.25rem 0;
    margin-bottom: 20px; // reserve space for 10px gap + 10px strip below navbar
    position: sticky;
    top: 0;
    z-index: 1000;

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        position: absolute;
        left: 0;
        right: 0;
        top: calc(100%); // place the strip 10px below the navbar
        background-image: url("@/images/stocking-fluff.png");
        background-repeat: repeat-x;
        background-position: center bottom;
        //background-size: auto 10px;
        pointer-events: none;
    }

    & .tube {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    input.inline-toggle {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;

        & a {
            margin: 0 0.5rem;
            color: var(--text);
            text-decoration: none;
            transition: 0.3s all ease;

            &:hover {
                color: var(--text-muted);
                transition: 0.3s all ease;
            }
        }
    }

    .inline-toggle {
        display: none;
    }
}

@media (max-width: 1024px) {
    #navbar {

        .inline-toggle, .logo {
            display: block;
        }

        .inline-toggle:checked + nav {
            display: block;
        }

        nav {
            display: none;
            flex-direction: column;
            position: absolute;
            top: calc(100%);
            left: 0;
            right: 0;
            background: var(--navbar);
            padding: 1rem;
            font-size: 1.5rem;
            height: 100vh;
            z-index: 1000;
            text-align: center;

            & a {
                display: block;
                margin: 0.5rem 0;
                line-height: 3;
            }
        }
    }
}

.tube {
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 1440px) {
    .tube {
        width: 75vw;
        &-xl {
            width: 90vw;
        }

        &-content {
            width: 50vw;
        }
    }
}

.site-main {
    min-height: calc(90vh - 60px);
}

.half-split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: space-between;
    margin: 2rem auto;
}

.third-split {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    margin: 2rem 0;
    align-items: center;
}

@media (max-width: 991px) {
    .half-split,
    .third-split,
    #feed {
        grid-template-columns: 1fr;
        max-width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
}

.split {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

@media (max-width: 991px) {
    .split {
        flex-direction: column;
    }
}

.tile-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    padding: 0;

    &-sm {
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    }

    &-lg {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
}

@media (min-width: 1960px) {
    .tile-grid-sm {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

.tile {
    background: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    padding: 0.5rem;
    margin: 0.5rem;
    display: grid;
    max-width: 90vw;

    h2, h3, h4 {
        color: var(--brand);
    }

    a:hover {
        color: var(--brand);
    }

    &-alt {
        background: var(--dark);
        color: var(--text);
        margin-top: 1rem;
        margin-bottom: 2rem;
        box-shadow: none;
    }

    &-inverse {
        //background: unset;
        color: inherit;
        box-shadow: none;

    }

    &-strap {
        font-family: var(--fancy-font), system-ui, sans-serif;
        background: unset;
        display: flex;
        justify-content: space-between;
        color: inherit;

    }

    &-media {
        display: flex;

        & img {
            border-radius: 0.25rem;
            margin-right: 0.5rem;
            max-width: 7.5rem;
            height: auto;
        }

        & h2 {
            font-size: 1.25rem;
        }

        & .details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

    }

    &-sm {
        padding: 0.25rem;
    }

    & img, {
        background: var(--brand);
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        border-radius: 0.25rem;
    }

    & time {
        font-size: 0.75rem;
        text-align: right;
    }

    &-title {
        font-size: 1.5rem;
        font-weight: 700;
        align-self: start;
        color: var(--brand);
        text-shadow: unset;
        letter-spacing: 0;
    }

    nav {
        align-self: end;
    }
}

.btn {
    background: var(--brand);
    color: #fff;
    transition: 0.3s all ease;
    font-weight: 700;
    border: 3px solid var(--brand);
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;

    &:hover {
        background: var(--body);
        color: var(--brand);
        transition: 0.3s all ease;
    }

    &-menu {
        border: 2px solid var(--text);
        text-align: center;
        width: 2rem;
        line-height: 2rem;
        border-radius: 0.25rem;
        margin: 0;

        &:hover {
            background: var(--text);
            color: var(--dark);
            transition: 0.3s all ease;
            filter: none;

        }
    }

    &-right {
        margin-right: 0;
        margin-left: auto;
        display: inline-block;
    }

}

@media (min-width: 992px) {
    .btn-menu {
        visibility: hidden;
    }
}

.site-footer {
    position: relative;
    background: #fff;
    padding: 1.5rem 0;
    color: var(--brand);
    text-align: center;

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 10px;
        position: absolute;
        left: 0;
        right: 0;
        top: -10px; // sit above the footer
        background-image: url("@/images/snow-strip.png");
        background-repeat: repeat-x;
        background-position: center top;
        background-size: auto 10px;
        z-index: 1;
        pointer-events: none;
    }

    a {
        color: var(--brand);
        font-weight: 500;
    }
}

#search-box {
    display: flex;
    justify-content: end;

    .btn {
        background: var(--gradient);
        max-width: max-content;
        height: 2.25rem;
        padding: 0.25rem;
        margin-left: -0.25rem;
        border-left: none;
        border-radius: 0 0.25rem 0.25rem 0;

        .fa-solid {
            margin: 0.25rem;
        }
    }

    input[type="search"] {
        width: 15rem;
        height: 2.25rem;
        margin: 0;
        border: var(--text-muted) 2px solid;
        background: var(--body);
        color: var(--text);
        border-radius: 0.5rem 0 0 0.5rem;
        padding: 0.25rem;

        &::placeholder {
            color: var(--text-muted);
        }
    }
}

#footer-logo {
    fill: var(--text);
    height: 3rem;
    width: auto;
    display: block;
    margin-bottom: 0.5rem;
}
