@import "~inter/inter-variable.css";
@import "~font-awesome/css/fontawesome.css";
@import "~font-awesome/css/solid.css";
@import "~font-awesome/css/brands.css";

@font-face {
    font-family: 'Instrument Serif';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("~title-font/files/instrument-serif-latin-400-normal.woff2") format("woff2");
}

@font-face {
    font-family: 'Snowtop Caps';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("@/fonts/snowtopcaps-webfont.woff2") format("woff2");
}
