@media (prefers-color-scheme: light) {
    :root {
        --primary: #214154;
        --dark: #1b171f;
        --body: #f0f0f0;
        --headings: var(--primary);
        --navbar: var(--body);
        --text: #000000;
        --text-muted: #214154;
        --text-inverse: #ffffff;
    }

    #navbar {
        color: var(--primary);

        nav {
            background: var(--body);

            a {
                color: var(--primary);
            }
        }
    }

    .btn {
        background: var(--primary);

        &-menu:hover {
            background: var(--dark);
            color: var(--text-inverse);
        }
    }

    .box, .tile, .tile-alt, .photo {
        background: var(--body);
        border: 2px solid var(--text-muted);
        color: var(--primary);
        box-shadow: unset;
    }

    .collection-cover, .collection-cover:hover {
        color: var(--text-inverse);
    }

    .site-footer {
        background: var(--body);
        color: var(--primary);

        a {
            color: var(--dark);
        }
    }

}
