$blue: #214154;
$white: #ffffff;
$gray-600: #ced1d2;
$gray-alt: #565858;
$red: #bf2011;
$dark: darken($blue, 10%);
$black: #000000;
$primary: $blue;

$enable-rounded: true;
$enable-deprecation-messages: false;

$link-decoration: underline;

$font-family-sans-serif: "Geist", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: monospace;
$line-height-base: 1.75;
$headings-font-family: $font-family-sans-serif;
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
$headings-font-weight: 800;

$navbar-dark-color: $gray-600;
$navbar-dark-hover-color: darken($navbar-dark-color, 5%);

$pagination-border-width: 0;

$input-bg: $white;
$input-color: $dark;

$btn-close-opacity: 1;
$btn-close-color: $black;
