// Variables
@import "variables";
@import "fonts";
// Bootstrap

$navbar-dark-color: #fff;
$body-bg: #eee;
@import "~bootstrap/scss/bootstrap";

.navbar-brand {
    font-weight: 800;
    text-transform: uppercase;
}

.site-main {
    min-height: calc(90vh - 60px);
}

.photo-thumb {
    img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}

.tiny-avatar {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

.text-gray {
    color: $gray-alt;
}

.nav-link.active {
    font-weight: 700;
}
