:root {
    --primary: #214154;
    --dark: #13252f;
    --light: #f4f4f4;
    --text: #000000;
    --text-muted: #cccccc;
    --inverse-text: #ffffff;
    --gradient: linear-gradient(-45deg, #5cb8ed, #7dcb8a, #4aff00);
}

@import "base";

body {
    background: var(--light);
}

h1 {
    line-height: 3;
}

#navbar {
    background: var(--primary);
}

.btn {
    color: var(--inverse-text);
}

.tile {
    box-shadow: none;
}

.editor-split {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;
}

@media (max-width: 768px) {
    .editor-split {
        grid-template-columns: 1fr;
    }
}
