:root {
    --brand: #214154;
    --alt: #005EB8;
    --text: #282828;
    --body: #efefef;
    --navbar: rgba(239, 239, 239, 0.9);
    --text-muted: #575757;
    --text-inverse: #000000;
    --gradient: linear-gradient(45deg, var(--dark), var(--alt));
    --notify: linear-gradient(45deg, #D60270, #69D1CC);
    --title-font: 'Instrument Serif';
    --body-font: 'Inter Variable', sans-serif;
}

@import "base";



.sr-only {
    visibility: hidden;
}

#intro {
    p {
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 0;
    }

    h1 {
        font-family: var(--title-font), serif;
        line-height: 1;
    }

}

@media (min-width: 992px) {
    #intro {
        margin-left: auto;
        margin-right: auto;
        width: max-content;
        padding-bottom: 10vh;
        padding-top: 5vh;

        .third-split {
            gap: 3rem;
        }

        h1 {
            font-size: 6rem;
        }

    }
}

.avatar {
    border-radius: 50%;
    border: 8px solid var(--brand);
    max-width: 100%;
    min-width: 250px;
    height: auto;

    &-box {
        margin: 0 auto;
        max-width: 42vw;
        height: auto;
    }

    &-surround {
        animation: gradient 15s ease infinite;
        background: var(--pride-blend);
        background-size: 400% 400%;
        border-radius: 50%;
        border: 0;
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        img {
            opacity: 0.8;
        }

        & {
            margin-top: 0;
        }

        & .avatar {
            border: 0;
        }
    }

    &-live {
        animation: gradient 15s ease infinite;
        background: linear-gradient(-45deg, red, #cc5208);
        background-size: 400% 400%;

        & {
            margin-top: 0;
        }


    }
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.live-icon {
    height: 50px;
    left: 12.25rem;
    margin-bottom: -4rem;
    position: relative;
    top: 1rem;
    width: 150px;
}

#latest-photo {
    border: 0;
    padding: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.5vh;

    & img {
        background: var(--brand);
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        border-radius: 0.25rem;
    }

    &-header {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: var(--text);
        font-weight: 700;
        align-items: center;
        padding: 0.5rem;
        text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
        z-index: 10;
        width: 97%;

        .btn-close {
            position: absolute;
            width: 2rem;
            padding: 0;
            line-height: 2rem;
            font-size: 1.5rem;
            top: 0.5rem;
            right: 0.5rem;
            background: transparent;
            border: none;

        }

        .timestamp {
            line-height: 2rem;
        }
    }

    & figcaption {
        font-weight: 700;
        padding: 0.5rem;
    }

    &:popover-open {
        max-width: 90vw;
        max-height: 90vh;
        border-radius: 0.25rem;
    }

    &::backdrop {
        backdrop-filter: blur(3px);
    }
}

@media (min-width: 992px) {
    #latest-photo:popover-open {
        max-height: 80vh;
        width: fit-content(60vw);

        img {
            max-height: 70vh;
            max-width: 50vw;

        }
    }
}

.box {
    background: var(--dark);
    color: var(--text);
    flex-direction: column;
    align-items: center;
    line-height: 2;
    margin: 0 0 1rem;
    overflow: hidden;
    width: max-content;

    .fa-solid {
        margin-right: 0.5rem;
        font-size: 1.5rem;
    }

    .fa-user {
        margin-left: 0.5rem;
    }
}

@media (max-width: 991px) {
    .box {
        margin-bottom: 1rem;
        width: 100%;
    }

    .avatar-box {
        max-width: 98%;

        & img {
            width: 32vh;
            height: 32vh;
        }
    }
}

#social-links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0.25rem 0.25rem 0.25rem 0;

    & a {
        color: var(--text);
        margin: 0.25rem;

        .fa-solid, .fa-brands {
            font-size: 1.5rem;
            background: var(--notify);
            background-clip: text;
            transition: 0.3s all ease;
            text-align: center;

            &:hover {
                color: rgba(0, 0, 0, 0);
                transition: 0.3s all ease;
            }
        }

        &:first-child {
            margin-left: 0;
        }
    }

}

@media (min-width: 992px) {
    #social-links {
        justify-content: start;

        & > a {
            margin: 0.25rem 1rem;

            .fa-brands, .fa-solid {
                font-size: 2.5rem;
                line-height: 3rem;
            }

        }

    }
}

#feed {
    display: grid;
    gap: 1rem;
    margin: auto 0;

    h2 {
        font-size: 3rem;
        display: inline-block;
    }

    .fancy-title {
        text-align: right !important;
        align-self: start;
    }
}

#activity-stream {
    ul {
        list-style: none;
        padding: 0.5rem;
        margin: 0;

        li {
            margin-bottom: 1rem;
        }
    }
}

.photo,
.post {
    padding: 0.75rem;
    border-radius: 0.25rem;
    max-width: 50vw;
    margin: 0 auto 1rem;

    .details {
        padding: 0.5rem 1rem;
    }

    time {
        font-size: inherit;
        text-align: left;
    }

    .links {
        display: flex;
        justify-content: end;
        gap: 0.5rem;

        & > a {
            text-decoration: none;
        }
    }

    footer {
        text-align: right;
        font-size: 0.85rem;
    }
}

@media (max-width: 991px) {
    .photo,
    .post {
        max-width: 90vw !important;

        h2 {
            font-size: 1.2px;
        }
    }

    #feed {
        grid-template-columns: 1fr;

        h2 {
            text-align: left;
        }
    }
}

.photo {
    h1 {
        font-size: 2rem;
    }
}

.page-header {
    padding: 2rem 0;

    .page-title {
        display: flex;
    }
}

.fancy-title, .page-title h1 {
    font-family: var(--title-font), serif;
}

.tiny-avatar {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

.entry-content {
    p {
        line-height: 1.75;
        margin-bottom: 1rem;
    }
}

.collection-cover {
    display: flex;
    height: 20rem;
    font-family: var(--title-font), serif;
    color: var(--text);
    background-color: var(--brand);
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease;
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

    &:hover {
        box-shadow: inset 0 0 5rem var(--dark);
        filter: saturate(2);
        transition: 0.3s all ease;
        color: var(--text) !important;
    }
}

#login-box {
    margin: 10vh auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .tile {
        padding: 1rem;
    }

    & .btn {
        margin: 0.5rem auto;
        max-width: 100%;
    }

    & small,
    h1 {
        text-align: center;
        line-height: 3;
    }
}

@media (min-width: 992px) {
    #login-box {
        max-width: 25vw;
    }
}

#error-page {
    padding-top: 15vh;

    & h1 {
        font-family: var(--title-font), serif;
        font-size: 6.5rem;
    }
}

.error-cat {
    position: absolute;
    bottom: 2.3rem;
    right: 5vw;
    text-align: end;
}

#pride-stripe {
    width: 100%;
    height: 1vh;
    background: linear-gradient(
            45deg,
            #000000 0%,
            #000000 9.09%,
            #784f17 9.09%,
            #784f17 18.18%,
            #00cfff 18.18%,
            #00cfff 27.27%,
            #ff7cae 27.27%,
            #ff7cae 36.36%,
            #ffffff 36.36%,
            #ffffff 45.45%,
            #e40303 45.45%,
            #e40303 54.54%,
            #ff8c00 54.54%,
            #ff8c00 63.63%,
            #ffed00 63.63%,
            #ffed00 72.72%,
            #008026 72.72%,
            #008026 81.81%,
            #004dff 81.81%,
            #004dff 90.9%,
            #750787 90.9%,
            #750787 100%
    );
}


.lozenge {
    line-height: 1.5;
    padding-bottom: 1rem;

    .category {
        position: relative;
        background: var(--brand);
        color: #fff;
        border-radius: 1rem;
        font-weight: 700;
        text-decoration: none;
        padding: 0.25rem;
        margin-right: -2rem;
        border: 2px solid var(--text-muted);
        display: inline-block;
        margin-bottom: 0.5rem;
        z-index: 100;
    }

    .timestamp {
        border-radius: 1rem;
        border: 2px solid var(--text-muted);
        padding: 0.25rem 0.5rem 0.25rem 2rem;
        display: inline-block;
        z-index: -100;

    }
}
